{:aliases  {:dev {:extra-paths ["development/src"
                                "bases/gateway-api/src"
                                "components/kafka-client/src"
                                "components/zmq-transport/src"]

                  :extra-deps {org.clojure/clojure {:mvn/version "1.12.3"}
                               org.zeromq/jeromq {:mvn/version "0.6.0"}
                               org.apache.kafka/kafka-clients {:mvn/version "3.7.0"}}}

            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}}}}}
